<!DOCTYPE html>
<html>
<head>
	<title>Job List</title>
</head>
<body>
	<h1> Job list</h1>

	<a href="/employer">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>Company Name</td>
			<td>Job title</td>
			<td>Location</td>
			<td>Salary</td>
			<td>Action</td>
			
		</tr>
		
	
		<% 
			job.forEach( function(job){ %>
			<tr>
				<td><%= job.id %></td>
				<td><%= job.companyname %></td>
				<td><%= job.title %></td>
				<td><%= job.location %></td>
				<td><%= job.salary %></td>
				<td>
					<a href="/job/edit/<%= emp.id %>">Edit</a> |
					<a href="/job/delete/<%= emp.id %>">Delete</a>
				</td>
			</tr>

		<%
			}); 
		%>
		
	</table>

</body>
</html>